h1, h2 {
    margin-bottom: 25px;
}

table {
    margin-bottom: 75px!important;
}

.mb-7 {
    margin-bottom: 70px;
}

.text-accent {
    color: #4e54c8 !important;
}

.qt {
    width: 90%;
    display: inline-flex;
}

.card-header {
    font-size: 18px;
    line-height: 30px;
}

.card {
    border-radius: 13px;
}

.cart {
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 40px;
}

.card-footer {
    margin-bottom: -16px;
    line-height: 30px;
}
