h1, h2 {
    margin-bottom: 25px;
}

table {
    margin-bottom: 75px!important;
}

.mb-7 {
    margin-bottom: 70px;
}

.h-85 {
    height: 85%!important;
}

.text-accent {
    color: #4e54c8 !important;
}

.qt {
    width: 90%;
    display: inline-flex;
}

.card-header {
    font-size: 18px;
    line-height: 30px;
}

.card {
    border-radius: 13px;
    white-space: nowrap;
}

.cart {
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 40px;
}

.card-footer {
    margin-bottom: -16px;
    line-height: 30px;
}

.navbar_main {
	position: fixed !important;
	top: 0px !important;
	width: 100% !important;
	z-index: 900 !important;
}

.content_site {
	padding-top: 1rem;
}

.alert {
	position: fixed !important;
	top: 70px;
	right: 2%;
	z-index: 500;
}

.in::-webkit-outer-spin-button,
.in::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.in {
  -moz-appearance:textfield;
}