{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'icon/bootstrap/icons-1.5.0/font/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'shop/header.html' %}
<div class="container mt-5 content_site">
    {% block content %}{% endblock %}
</div>



<script src= {% static 'js/bootstrap/bootstrap.js' %}></script>
<script src= {% static 'js/jquery3.6.0.min.js' %}></script>
{#<script src= {% static 'js/js.js' %}></script>#}
<script src= {% static 'js/action.js' %}></script>
{% block javascript %}{% endblock %}
</body>
</html>