{% extends 'shop/base.html' %}
{% block title %}
    Контакты | ARMATURA.MOSCOW арматура в Одинцово
{% endblock %}
{% block content %}
    <div class="col-lg-9 col-md-12 col-sm-12 mx-auto mt-3 mb-7">
        <h1>Контакты</h1>

            <div class="row gx-3 gy-3 gy-sm-2">

                <div class="col-xl-3 col-md-6 col-sm-12 mb-grid-gutter">
                    <div class="card card-body text-center shadow border-0 h-85">
                        <i class="bi bi-telephone h3 mt-1 text-primary"></i>
                        <h3 class="h6 mb-2">Телефон</h3>
                        <p class="fs-sm text-muted text-wrap">+7 (495) 123-44-55</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12 mb-grid-gutter ">
                    <div class="card card-body text-center shadow border-0 h-85">
                        <i class="bi bi-envelope h3 mt-1 text-primary"></i>
                        <h3 class="h6 mb-2">Email</h3>
                        <p class="fs-sm text-muted text-wrap">info@armatura.moscow</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12 mb-grid-gutter">
                    <div class="card card-body text-center shadow border-0 h-85">
                        <i class="bi bi-clock h3 mt-1 text-primary"></i>
                        <h3 class="h6 mb-2">Время работы</h3>
                        <p class="fs-sm text-muted text-wrap"><b>Пн-Пт:</b> 8:00 - 17:00
                            <br><b>Сб-Вс:</b> Выходной</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12 mb-grid-gutter">
                    <div class="card card-body text-center shadow border-0 h-85">
                        <i class="bi bi-geo-alt h3 mt-1 text-primary"></i>
                        <h3 class="h6 mb-2">Адрес</h3>
                        <p class="fs-sm text-muted text-wrap">Транспортный проезд 9с8, Одинцово</p>
                    </div>
                </div>

                <div class="col">
                    <h3 class="text-center mb-3">Мы находимся здесь</h3>
                    <div class="card shadow border-0">
                        <div class="p-2">
                            <script type="text/javascript" charset="utf-8" async
                                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A97eae06dec5bce4ecc1077ccb70a5fd8e785e9662aae9b4729d98d26ce24b381&amp;width=100%&amp;height=430&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}