{% extends 'shop/base.html' %}
{% load humanize %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}ARMATURA.MOSCOW арматура в Одинцово{% endif %}
{% endblock %}
{% block content %}
    {% if messages %}
        <div class="col-lg-9 mx-auto">
            {% for message in messages %}
                <div{% if message.tags %}
                    class="alert alert-{{ message.tags }} mx-auto text-center"{% endif %}><i
                        class="bi bi-check-circle-fill"></i> {{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% regroup products by category as category_list %}
    {% for category in category_list %}
            <h2 class="mt-5 pt-3">{{ category.grouper }}</h2>
            <div class="cart card card-body shadow border-0 pb-0">
                <div class="row card-header fw-bold py-3">
                    <div class="col-md-2 col-sm-12">Продукция</div>
                    <div class="col-md-2 col-sm-12 text-center">Диаметр</div>
                    <div class="col-md-2 col-sm-12 text-center">Марка стали</div>
                    <div class="col-md-2 col-sm-12 text-center">Цена за тонну</div>
                    <div class="col-md-2 col-sm-12 text-center">Цена за метр</div>
                    <div class="col-md-2 col-sm-12 text-center">Кол-во</div>
                </div>
                {% for p in category.list %}
                <div class="row border-bottom py-1 px-3">
                    <div class="col-md-2 col-sm-12 fw-bolder align-self-center">
                            <!-- <div class="header-items">Продукция</div> -->
                            <div class="name-items"><a class="text-decoration-none" href="{{ p.get_absolute_url }}">{{ p.name }}</a></div>
                        </div>
                        <div class="col-md-2 col-sm-12 text-center align-self-center">
                            <div class="header-items">Диаметр</div>
                            <div class="items">{{ p.diametr }}</div></div>
                        <div class="col-md-2 col-sm-12 text-center align-self-center">
                            <div class="header-items">Марка стали</div>
                            <div class="items">{{ p.mark_steel }}</div></div>
                        <div class="col-md-2 col-sm-12 text-center align-self-center">
                            <div class="header-items">Цена за тонну</div>
                            <div class="items">{{ p.price_toon|floatformat|intcomma }}</div></div>
                        <div class="col-md-2 col-sm-12 text-center align-self-center">
                            <div class="header-items">Цена за метр</div>
                            <div class="items"><b>{{ p.price }}</b><span class="small hidden"> руб.</span></div></div>
                        <div class="col-md-2 col-sm-12 text-center">
                            <div class="header-items">Кол-во</div>
                            <div class="items">
                                <form class="add_to_cart" action="{% url "cart:cart_add" p.id %}"
                                method="post">
                                {% csrf_token %}
                                {{ cart_product_form.update }}
                                <div class="input-group d-flex flex-nowrap">
                                    <div class="form-floating">
                                        {{ cart_product_form.quantity }}
                                        <label class="px-1 py-2" for="id_quantity">Метров</label></div>
                                        <button class="btn btn-primary" type="submit"><i class="bi bi-cart-plus"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% endfor %}
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            // отслеживаем событие отправки формы
            $('.add_to_cart').submit(function () {
                // создаем AJAX-вызов
                $.ajax({
                    data: $(this).serialize(), // получаем данные формы
                    type: $(this).attr('method'), // GET или POST
                    url: $(this).attr('action'),
                    // если успешно, то
                    success: function (response) {
                        //alert("Спасибо, что обратились к нам ");
                        workMessenger(response.count_item_cart, response.msg, response.total_pice_cart, response.quantity)
                        console.log(this.data + '-----------------------------------------' + this.url)
                        console.log('quantity: ' + response.quantity)
                        console.log('msg: ' + response.msg)
                        console.log('total_pice_cart: ' + response.total_pice_cart)
                        console.log('count_item_cart: ' + response.count_item_cart)
                    },
                    // если ошибка, то
                    error: function (response) {
                        // предупредим об ошибке
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}