{% extends 'shop/base.html' %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}ARMATURA.MOSCOW арматура в Одинцово{% endif %}
{% endblock %}
{% block content %}
    {% regroup products by category as category_list %}
    {% for category in category_list %}
        <h2>{{ category.grouper }}</h2>
        <table class="table align-middle">
            <thead>
            <tr class="table-primary align-middle">
                <th scope="col">Продукция</th>
                <th class="text-center" scope="col">Диаметр</th>
                <th class="text-center" scope="col">Марка стали</th>
                <th class="text-center" scope="col">Цена за тонну</th>
                <th class="text-center" scope="col">Цена за метр</th>
                <th class="text-center">Кол-во</th>
            </tr>
            </thead>
            {% for p in category.list %}
                <tbody>
                <tr>
                    <th scope="row"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></th>
                    <td class="text-center">{{ p.diametr }}</td>
                    <td class="text-center">{{ p.mark_steel }}</td>
                    <td class="text-center">{{ p.price_toon | floatformat }}</td>
                    <td class="text-center"><b>{{ p.price }}</b></td>
                    <td class="text-center">
                        <form action="{% url "cart:cart_add" p.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form.update }}
                            <div class="input-group">
                                {{ cart_product_form.quantity }}
                                <button class="btn btn-primary" type="submit"><i class="bi bi-cart-plus"></i> Добавить</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}